/*******************************************************************************
Copyright 2014 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

#bodyContainer {
    margin: 30px;
}


#pagetitle {
    color: #646464;
    font-family: Verdana,arial,helvetica,sans-serif;
    float: left;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.08em;
    margin: 5px 0 10px;
    padding: 0;
    width: 85%;
}

#pagebody {
    padding: 0 0 25px 0px;
    top: -5px;
    background: #fff url(../../../images/content-bg-tc.png) repeat-x left top;
    border: 1px #e5ebee solid;
    border-top-width: 0px;
    float: left;
    min-width: 911px;
    width: 100%;
    margin: 29px 0 0;
}

#pagebody.loginterms {
    margin: 40px 0 0;
    padding: 20px 0px;
}

#pagebody.level {
    min-width: 100%;
    width: auto;
    margin: 0;
}

#contentHolder {
    background: transparent;
    position: relative;
    top: 0px;
    padding: 25px;
    float: left;
    overflow: hidden;
    width: 95%;
}

.pagebodydiv {
    text-align: left;
    display: block;
}

.termstextdiv {
    border: 1px #ccc solid;
    background-color: #fff;
    font-size: 1.5em;
    line-height: 13pt;
    background-image: url("../../../images/web_info.png");
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-left: 25px;
    padding-right: 0;
    vertical-align: top;
}

.termstexttable {
    font-size: 0.98em;
    line-height: 13pt;
    border: none;
}

#pageheader {
    margin: 25px 0;
    padding: 0;
    width: 100%;
}

.button-area {
    float: right;
}

