/** *****************************************************************************
 Copyright 2014 Ellucian Company L.P. and its affiliates.
****************************************************************************** */

#bodyContainer {
    margin: 30px;
}

#pageheader {
    width: 100%;
    margin: 25px 0;
    padding: 0px;
}

#pagetitle {
    float: left;
    color: #646464;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.08em;
    padding: 0;
    margin: 5px 0 10px 0;
    width: 85%;
}

#pagebody {
    padding: 0 0 25px 0px;
    top: -5px;
    background: #fff url(../../../images/content-bg-tc-dark.png) repeat-x left top;
    border: 1px #e5ebee solid;
    border-top-width: 0px;
    float: left;
    min-width: 911px;
    width: 100%;
    margin: 29px 0 0;
}

#pagebody.level4 {
    min-width: 100%;
    width: auto;
    margin: 0;
}

#contentHolder {
    background: transparent;
    position: relative;
    top: 0px;
    padding: 25px;
    float: left;
    overflow: hidden;
    width: 95%;
}

.content-label {
    margin-bottom: 5px;
    margin-right: 10px;
    padding-top: 4px;
    text-align: right;
    width: 14em;
    font-size: 12px;
    min-height: 20px;
    vertical-align: top;
}

.section-header {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    text-align: left;
    padding: 10px 0 10px 10px;
}

.section-header-text {
    color: #444455;
}

.section-wrapper {
    margin-bottom: 6px;
}

.section-wrapper div {
    display: inline-block;
}

.question-wrapper {
    width: 45%;
}

.question-wrapper div{
    display: inline-block;
}


.label-wrapper {
    margin-left: 5px;
    margin-right: 15px;
    padding: 2px;
    text-align: right;
    width: 35%;
}

.label-style{
    width:100%;
}

.answer-wrapper {
   width: 45%;
   margin-bottom: 6px;
}

.answer-wrapper div{
    display: inline-block;
}


.select-wrapper{
  vertical-align: top;
  width: 50%;
}

.select {
   width: 100%;
}

.section-text-wrapper{
    vertical-align: top;
    width: 50%;
}

.section-text {
   width: 99%;
   padding:0;
   margin: 0;
   height: 18px;
}

.or-label{
    vertical-align: middle;
 }


.button-area {
    float: right;
}


#save-btn, #ask-me-later-btn {
    cursor: pointer;
}

#errorMessage {
    font-size: 13px;
    font-weight: bold;
    padding: 4px;
}

.section-message {
    padding-left: 25px;
    font-weight: bold;
}

.informationImage {
    background-image: url("../../../images/information.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: left 0;
    height: 15px;
}


.notification-error {
    border: 1px solid #FF3F3F;
    background-color: #EBCFCF;
}

.hide-aria-message {
    position: absolute;
    left: -9999px;
}
