/*******************************************************************************
Copyright 2014-18 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

#bodyContainer {
    margin: 2em;
}
#content {
    overflow: hidden;
}

#pagetitle {
    color: #646464;
    font-family: Verdana,arial,helvetica,sans-serif;
    float: left;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.08em;
    margin: 5px 0 10px;
    padding: 0;
    width: 85%;
}

#pagebody.loginterms {
    margin: 40px 0 0;
    padding: 20px 0px;
}

#pagebody.level {
    min-width: 100%;
    width: auto;
    margin: 0;
}

#contentHolder {
    background: transparent;
    position: relative;
    top: 0px;
    float: left;
    overflow: hidden;
}

.pagebodydiv {
    text-align: left;
    display: block;
}

.termstextdiv {
    border-top: 1px #2874BB solid; /*EDS*/
    background-color: #EFF7FF; /*EDS*/
    font-size: 1.5em;
    font-family: OpenSans-Semibold;
    color: #2874BB; /*EDS*/
    padding: 0.5em;
    margin-bottom: 2em;
}

.termstexttable {
    font-size: 0.98em;
    line-height: 13pt;
    border: none;
}

#pageheader {
    margin: 25px 0;
    padding: 0;
    width: 100%;
}

.button-area {
    float: right;
}

.button-area .primary {
    margin-right: 2em;
}

.button-area .primary, .button-area .secondary {
    width: 8.5em;
    height: 2.8em;
}

@media screen and (min-width: 768px) {

    .button-area .primary,.button-area .secondary {
        width: 10.9em;
        height: 2.8em;
    }
}

