/** *****************************************************************************
 Copyright 2014-18 Ellucian Company L.P. and its affiliates.
****************************************************************************** */

#bodyContainer {
    padding: 0.5em;
}

#content {
    overflow-x: hidden;
    font-size: 16px;
}
.eds-text-field {
    width: 100%;
    height: 2.8em;
}
#pageheader {
    width: 100%;
    margin: 25px 0;
    padding: 0px;
}

#pagetitle {
    float: left;
    color: #646464;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.08em;
    padding: 0;
    margin: 5px 0 10px 0;
    width: 85%;
}

.eds-select-field {
    width: 18em;
    height: 2.8em;
    border-radius: 4px;
    border: 1px solid #B2B3B7;
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: OpenSans-semibold !important;
    font-size: 0.875em;
    text-align: left;
}
.eds-select-field:focus:not([valid]) {
    border: 1px solid #026BC8;
    color: #151618;
    outline: none;
    font-family: OpenSans-semibold !important;
}
select option :hover {
    background-color: #EBCFCF;
}
#pagebody {
/*    padding: 0 0 25px 0px;
    top: -5px;
    background: #fff url(../../../images/content-bg-tc-dark.png) repeat-x left top;
    border: 1px #e5ebee solid;
    border-top-width: 0px;
    float: left;
    min-width: 911px;
    width: 100%;
    margin: 29px 0 0;*/
}

#pagebody.level4 {
    min-width: 100%;
    width: auto;
    margin: 0;
}

#contentHolder {
    background: transparent;
    position: relative;
    top: 0px;
    float: left;
    overflow: hidden;
    width: 100%;
}

.content-label {
    margin-bottom: 5px;
    margin-right: 10px;
    padding-top: 4px;
    text-align: right;
    width: 14em;
    font-size: 12px;
    min-height: 20px;
    vertical-align: top;
}

.section-header {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    text-align: left;
    padding: 10px 0 10px 10px;
}

.section-header-text {
    color: #444455;
}

.section-wrapper {
    margin-bottom: 6px;
}

.section-wrapper div {
}

.spacing {
    padding-bottom: 10px;
}
.confirm-pin-spacing {
    padding-bottom: 15px;
}
.question-wrapper {
    width: 23%;
    text-align: left;
}

.question-wrapper div{
}


.label-wrapper {
    padding-bottom: 6px;
}
 .or-spacing {
     padding-top: 6px;
 }
.label-style{
    width: 100%;
    text-align: left;
    font-family: OpenSans-Semibold;
    padding-bottom: 10px;
    padding-top: 10px;
}

.answer-wrapper {
   width: 45%;
   padding-bottom: 1em;
}

.answer-spacing{
    padding-bottom: 15px;
}


.select-wrapper{
  vertical-align: top;
  width: 50%;
}

.select {
   width: 100%;
}

.select_spacing {
    padding-top:1em;
}

.section-text-wrapper{
    vertical-align: top;
    width: 100%;
}

.section-text {
   width: 99%;
   padding:0;
   margin: 0;
   height: 18px;
}

.or-label{
    vertical-align: middle;
    font-family: OpenSans-Semibold;
 }


.button-area {
    padding-top: 10px;
    margin-bottom: 10px;
}


#save-btn, #ask-me-later-btn {
    cursor: pointer;
}

#errorMessage {
    font-size: 13px;
    font-weight: bold;
}

.section-message {
    font-family: OpenSans-Bold;
    font-size: 1em;
    padding-bottom: 15px;
}

.informationImage {
    background-image: url("../../../images/information.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: left 0;
    height: 15px;
}


/*.notification-error {
    background-color: #EBCFCF;
}*/
.component-error{
    border:1px solid #cc0000;
}

.hide-aria-message {
    position: absolute;
    left: -9999px;
}

.button-area .secondary {
    margin-right: 1em;
}

.button-area .primary, .button-area .secondary {
    width: 8.5em;
    height: 2.8em;
}

/*
@media screen and (max-width: 1137px) {


        .button-area .primary, .button-area .secondary {
            width: 10.9em;
            height: 2.8em;
        }

        .eds-select-field {
            width: 22.7em;
            height: 2.8em;
        }

        .eds-text-field {
            width: 22.7em;
        }

}*/

@media only screen
and (min-device-width : 321px)
and (max-device-width : 800px) {

    .question-wrapper {
        width: 60%;
        text-align: left;
    }

}
